@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: #020a1a;
    --color-sky-500: #3b82f6;
    --color-slate-900: #0f172a;
    --color-blue-500: #3b82f6;
    --color-primary: #7A003F;
    --color-subprimary: #EDEAE0;
}

@keyframes breathingGlow {
    0% {
        transform: scale(0.8);
        opacity: 0.3;
    }

    50% {
        transform: scale(1.6);
        opacity: 1;
    }

    100% {
        transform: scale(0.8);
        opacity: 0.3;
    }
}

.animate-pulse-glow {
    animation: breathingGlow 3s ease-in-out infinite;
}

.animate-pulse-glow-delayed {
    animation: breathingGlow 3s ease-in-out infinite;
    animation-delay: 1.5s;
}