@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: #020a1a;
    --color-sky-500: #3b82f6;
    --color-slate-900: #0f172a;
    --color-blue-500: #3b82f6;
    --color-primary: #7A003F;
    --color-subprimary: #EDEAE0;
}

@keyframes glowPulse {
    0% {
        box-shadow: 0 0 15px rgba(56, 189, 248, 0.4),
            0 0 30px rgba(56, 189, 248, 0.2);
    }

    50% {
        box-shadow: 0 0 35px rgba(56, 189, 248, 0.9),
            0 0 70px rgba(56, 189, 248, 0.5);
    }

    100% {
        box-shadow: 0 0 15px rgba(56, 189, 248, 0.4),
            0 0 30px rgba(56, 189, 248, 0.2);
    }
}

.animate-glow {
    animation: glowPulse 2.8s ease-in-out infinite;
}